@import 'bootstrap/dist/css/bootstrap.min.css';


#dropdown {
    margin-top: 35px !important;
}

.btn {
    border-radius: 4px !important;

}


/* .tab-content{
    background-color: white !important;
} */

/* Ensure the alert appears at the top */
.fixed-top {
    z-index: 1050; /* Ensure the alert appears above other content */
    margin: 80px 55PX 0PX 305PX;
    padding: 20PX 20PX;
}






